<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
   <connectionStrings>
    <!--<add name="cn" connectionString="Data Source=43.255.152.26;User ID=gramoday;password=gramoday123" providerName="System.Data.SqlClient"/>-->
  
  
      <add name="cn" connectionString="Data Source=182.50.133.111;User ID=assandh;password=Assandh1234#" providerName="System.Data.SqlClient"/>
    <!--<add name="cn" connectionString="server=kartik\sqlexpress;database=BlogSystem;integrated security=true;"/>-->


  </connectionStrings>

    <system.web>
       <customErrors mode="Off"/>
      <pages validateRequest="false" />
      <!--<httpRuntime requestValidationMode="2.0" />-->
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" executionTimeout="9999" maxRequestLength="2097151"  requestValidationMode="2.0"/>
      <!--<httpRuntime targetFramework="4.5.2" />-->
    
    </system.web>

</configuration>
